.sts{
    text-align: center;
    padding: 5px;
    height: 100%;
    background-image: url("../../Imgs/blue.jpg");
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;  
}
.titleS{
    margin-left: 100px;
    color: #0d569e;
    padding-top:12px;
    border: none;
    outline: none; 
    border-radius: 10px;
}
.btnadd{
    position: absolute;
    right: 40px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: #1e90ff;
    width: 90px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}
.btnadd:hover, .btnadd:focus, .btnadd:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Acciones Tabla */

.icon{
    translate: 0 -3px;
    transition: 2s;
}
 .actionT:hover{
    box-shadow: 0 0 20px rgba(8, 27, 136, 0.897);
    border-radius:30px ;
    .icon{
        transform: rotateZ(180deg);
    }
    .option{       
        translate: 40px -60px;      
        visibility: visible;
        transition: 0.8s;
        color: black;
        background-color: transparent;              
    .mod{
        color: white;
        background: #1e90ff;
        transition: 0.6s;             
    }            
    .mod:hover, .mod:focus, .mod:active{
        color: rgb(55, 201, 55);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
    }
    .delete{       
        color: white;
        background: #1e90ff;
        transition: 0.6s; 
    }
    .delete:hover{
        color: red;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); 
    } 
    } 
 }
 .actionT:active{
    background: #0d569e;
 }
 .actionT{
    translate: 5px;
    margin: none;
    padding: none;
    text-align: center;
    width: 40px;
    height: 30px;
  }
  .action{
    border: none;
    background-color: transparent; 
  }
  
.option{
    box-shadow: 0 0 5px rgba(8, 27, 136, 0);
    /* clip-path: polygon(15% 0%, 100% 0%, 100% 75%, 100% 100%, 15% 100%, 15% 75%, 0% 50%, 15% 25%); */
    translate: 0 -60px;           
    color: rgba(0, 0, 0, 0);  
    transition: 0.6s;
    height: 200%;
    width: 108px;          
}
.option .mod{ 
    margin-left: 8px; 
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: #1e8fff00;
    width: 90px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    transition-property: box-shadow, transform;
}
.delete{
    margin-left: 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: #1e8fff00;
    width: 90px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    transition-property: box-shadow, transform;
}


/* Modal */


.form{
    text-align: left;
    margin-top: 40px;
    input{
        &:hover{       
            box-shadow: 0 0 5px #0d569eaf;
        }
    }   
}
.title{
    font-size: 25px;
    color: #0d569e;
    border-bottom: 1px solid rgb(31, 136, 168);
}
.form2{
   text-align:left;
   margin-left: 0;
}
.check{
    margin-left: 5px;
}
.tcp{
    margin-left: 80px;
}
.save{  
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: #1e90ff;
    width: 90px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-property: box-shadow;
}
.save:hover, .save:focus, .save:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: rgb(45, 221, 45);
}
.labelGrade{
    margin-left: 12px;
}
.select{
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid black;
    background: #fff;
    border-radius: 5px;
    width: 50px;
   
    &:hover{
        background: #b7b7b871;
    }
}
